{% extends "./layout.html" %} 

{% block head %}
<link rel="stylesheet" href="/home/main.css">
{% endblock %}

{% block body %}

  {% block homeBanner %}
  {% endblock %}

<div class="show_time">
    <div class="feature-con">
        <ul class="feature fn-clear">
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">电子书</h4>
                <p class="des">海量共享</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">AV视频</h4>
                <p class="des">免费下载</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">炜哥小黄碟</h4>
                <p class="des">大牛绝学</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">线下交流</h4>
                <p class="des">悄悄滴干</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}